
<div class="form-field-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 no-margin">
				<div class="from-left height-section d-flex justify-content-center align-items-center bg-rdg">
					<div class="site-logo">
						<!--<img src="/assets/img/RDGCoin.png" class="img-fluid" alt="logo">-->
					</div>
				</div>
			</div>
			<div class="col-lg-6 no-margin">
				<div class="form-right height-section d-flex justify-content-center align-items-center text-center">
					<div class="form-areas">
						<div class="form-top">
							<h2>Login</h2>
							<p>Digite a senha para entrar na sua carteira</p>
						</div>
						<form (ngSubmit)="signin()" [formGroup]="form">
							<div class="form-group">
								<input type="password" id="password" name="password" class="form-control look-pass-a" placeholder="SENHA" formControlName="password" [ngClass]="{ 'is-invalid': form.controls.password.invalid && form.controls.password.dirty, 'is-valid': form.controls.password.valid }">
								<div class="text-danger text-center text-bold" *ngIf="form.controls.password.invalid && form.controls.password.dirty">
									<p *ngIf="form.controls.password.errors.required">Senha obrigatória</p>
									<p *ngIf="form.controls.password.errors.rangeLength">A senha precisa ter de 6 a 32 caracteres</p>
								</div>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary" [disabled]="form.invalid">Entrar</button>
							</div>
							<p class="no-account">Não tem uma carteira ainda?</p>
						</form>
						<div class="default-access-wrapper">
							<a class="btn btn-outline-secondary m-2" routerLink="/create">Criar carteira</a>
							<a class="btn btn-outline-secondary m-2" routerLink="/recover">Recuperar carteira</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>