
<div class="form-field-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 no-margin">
				<div class="from-left height-section d-flex justify-content-center align-items-center">
					<div class="site-logo">
						<img src="/assets/img/RDGCoin.png" class="img-fluid" alt="logo">
					</div>
				</div>
			</div>
			<div class="col-lg-6 no-margin">
				<div class="form-right height-section d-flex justify-content-center align-items-center text-center">
					<div class="form-areas">
						<div class="form-top">
							<h2>Recuperar carteira</h2>
							<p>Preencha os dados abaixo para recuperar sua carteira</p>
						</div>
                        <form (ngSubmit)="restore()" [formGroup]="form">
                            <div class="form-group">
                                <label for="meneumonic">Palavras de segurança</label>
                                <textarea class="form-control" id="mneumonic" name="mneumonic" rows="3" 
                                    formControlName="mneumonic" 
                                    [ngClass]="{ 'is-invalid': form.controls.mneumonic.invalid && form.controls.mneumonic.dirty, 'is-valid': form.controls.mneumonic.valid }"></textarea>
                                <span class="text-danger" *ngIf="form.controls.mneumonic.invalid && form.controls.mneumonic.dirty">
                                    <p *ngIf="form.controls.mneumonic.errors.required">Mneumonico obrigatório</p>
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="password">Senha</label>
                                <input id="password" name="password" class="form-control" type="password"
                                    formControlName="password"
                                    [ngClass]="{ 'is-invalid': form.controls.password.invalid && form.controls.password.dirty, 'is-valid': form.controls.password.valid }">
                                <span class="text-danger" *ngIf="form.controls.password.invalid && form.controls.password.dirty">
                                    <p *ngIf="form.controls.password.errors.required">Senha obrigatória</p>
                                    <p *ngIf="form.controls.password.errors.rangeLength">A senha precisa ter de 6 a 32 caracteres</p>
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Confirmar Senha</label>
                                <input id="confirmPassword" name="confirmPassword" class="form-control" type="password"
                                    formControlName="confirmPassword"
                                    [ngClass]="{ 'is-invalid': form.controls.confirmPassword.invalid && form.controls.confirmPassword.dirty, 'is-valid': form.controls.confirmPassword.valid }">
                                <span class="text-danger" *ngIf="form.controls.confirmPassword.invalid && form.controls.confirmPassword.dirty">
                                    <p *ngIf="form.controls.confirmPassword.errors.required">Confirm senha obrigatória</p>
                                    <p *ngIf="form.controls.confirmPassword.errors.rangeLength">A senha precisa ter de 6 a 32 caracteres</p>
                                    <p *ngIf="form.controls.confirmPassword.errors.equalTo">Senhas divergentes</p>
                                </span>
                            </div>
                            <div class="form-group mt-5">
                                <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Recuperar</button>
                            </div>
                            <div class="form-group">
                                <button routerLink="" class="btn btn-outline-primary">Voltar</button>
                            </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>