$blue: #313F80;
$indigo: #6610f2;
$purple: #4A3080;
$pink: #BB507F;
$red: #dc3545;
$orange: #BCAA38;
$yellow: #ddb85f;
$green: #79AC33;
$teal: #9ACA57;
$cyan: #17a2b8;

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$primary: $yellow;
$secondary: #101a2d;
$success: $blue;
$info: $cyan;
$warning: $purple;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~ngx-toastr/toastr-bs4-alert';

:root {
  font-size: 16px
}

html,
body {
  height: 100%;
  line-height: 24px;
  color: #2f2f2f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 !important
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: hind vadodara, sans-serif;
  font-weight: 700
}

iframe {
  border: none
}

a,
b,
div,
ul,
li {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -moz-outline-: none
}

input,
input:hover,
input:focus,
input:active,
textarea,
textarea:hover,
textarea:focus,
textarea:active,
select:focus,
select:hover {
  -moz-outline: none;
  outline: none;
  box-shadow: none
}

img:not([draggable]),
embed,
object,
video {
  max-width: 100%;
  height: auto
}

a {
  text-decoration: none;
  outline: 0
}

a:active,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
  outline: 0
}

img {
  border: none;
  max-width: 100%
}

button:focus {
  -moz-outline: none;
  outline: none;
  box-shadow: none
}
